@charset 'utf-8';
@import 'partials/variables.css';

/*
Using native CSS nesting herein, albeit passed through Dart Sass.
*/

html, body {
	font-family: var(--sans-serif);
	color: var(--default-light);
	background-color: var(--default-dark);
	@media (prefers-color-scheme: dark) {
		color: var(--default-dark);
		background-color: var(--default-light);
	}
}

a {
	color: var(--link-light);
	@media (prefers-color-scheme: dark) {
		color: var(--link-dark);
	}
}
