:root {
	--default-light: black;
	--default-dark: white;
	--link-light: blue;
	--link-dark: cyan;
}

html, body {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: var(--default-light);
	background-color: var(--default-dark);
}

a {
	color: var(--link-light);
}

@media (prefers-color-scheme: dark) {
	html, body {
		color: var(--default-dark);
		background-color: var(--default-light);
	}
	a {
		@media (prefers-color-scheme: dark) {
			color: var(--link-dark);
	}
}
